@using Entities.Identity;
@using Microsoft.AspNetCore.Identity;
@model List<Entities.Concrete.Yorum>
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
        
    


<div class="col-lg-8 ">


    <div >
        <h4>Yorumlar | @Model.Count</h4>
        @foreach (var item in Model)
        {
            <hr />
            <div class="media">

            <div class="media-body">
                <h5 class="mt-0">@item.YorumAd</h5>
                @item.YorumTarih
                        @if(User.Identity.Name == item.YorumAd || User.IsInRole("Admin"))
                        {   
                            
                             <a asp-controller="Yorum" asp-action="YorumSil" asp-route-YorumID="@item.YorumID">Sil</a>
                            
                        }
                        <p>
                   @item.YorumIcerik
                </p>
            </div>
        </div>
        }
        
    </div>
    <hr />

        
    </div>
}